body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(5, 5, 132); */
  background-image: url("https://media.istockphoto.com/photos/milky-way-picture-id1085287936?b=1&k=20&m=1085287936&s=170667a&w=0&h=JcGOcj303DmVlqdUSt9gXhW1v5O6HMCEsY5snHPuEiQ=");
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
